:root {
    --graygray-600: rgba(113, 128, 150, 1);
    --graygray-700: rgba(74, 85, 104, 1);
    --graygray-50: rgba(250, 250, 250, 1);
    --paragraphs-para-1-font-family: "Inter-Regular", Helvetica;
    --paragraphs-para-1-font-weight: 400;
    --paragraphs-para-1-font-size: 18px;
    --paragraphs-para-1-letter-spacing: 0px;
    --paragraphs-para-1-line-height: 30px;
    --paragraphs-para-1-font-style: normal;
    --footer-footer-links-font-family: "Poppins-Regular", Helvetica;
    --footer-footer-links-font-weight: 400;
    --footer-footer-links-font-size: 16px;
    --footer-footer-links-letter-spacing: 0px;
    --footer-footer-links-line-height: 236.29999160766602%;
    --footer-footer-links-font-style: normal;
    --headings-headings-h5-font-family: "Inter-Bold", Helvetica;
    --headings-headings-h5-font-weight: 700;
    --headings-headings-h5-font-size: 18px;
    --headings-headings-h5-letter-spacing: -0.09px;
    --headings-headings-h5-line-height: normal;
    --headings-headings-h5-font-style: normal;
    --footer-footer-sm-font-family: "Inter-Regular", Helvetica;
    --footer-footer-sm-font-weight: 400;
    --footer-footer-sm-font-size: 14px;
    --footer-footer-sm-letter-spacing: -0.07px;
    --footer-footer-sm-line-height: 10px;
    --footer-footer-sm-font-style: normal;
  }
