.elementor-233 .elementor-element.elementor-element-782a701 {
    --display: flex;
    --background-transition: 0.3s;
    --border-radius: 30px 30px 30px 30px;
    --padding-block-start: 30px;
    --padding-block-end: 30px;
    --padding-inline-start: 30px;
    --padding-inline-end: 30px;
}

.elementor-233 .elementor-element.elementor-element-782a701:not(.elementor-motion-effects-element-type-background),
.elementor-233 .elementor-element.elementor-element-782a701>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #EFEFEF;
}

.elementor-233 .elementor-element.elementor-element-782a701,
.elementor-233 .elementor-element.elementor-element-782a701::before {
    --border-transition: 0.3s;
}

.elementor-233 .elementor-element.elementor-element-c2c88dd {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --justify-content: space-between;
    --background-transition: 0.3s;
}

.elementor-233 .elementor-element.elementor-element-aa34b2b .elementor-heading-title {
    color: #1B1B1BC2;
    font-family: "Poppins", Sans-serif;
    font-size: 24px;
    font-weight: 600;
}

.elementor-233 .elementor-element.elementor-element-65a80ca {
    text-align: right;
}

.elementor-233 .elementor-element.elementor-element-65a80ca .elementor-heading-title {
    color: #5DBC45;
    font-family: "Poppins", Sans-serif;
    font-size: 24px;
    font-weight: 600;
}

.elementor-233 .elementor-element.elementor-element-07797a2 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --background-transition: 0.3s;
}

.elementor-233 .elementor-element.elementor-element-6f94982 .elementor-heading-title {
    color: #1B1B1B;
    font-family: "Poppins", Sans-serif;
    font-size: 24px;
    font-weight: 600;
}

.elementor-233 .elementor-element.elementor-element-e69d7d1 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --background-transition: 0.3s;
}

.elementor-233 .elementor-element.elementor-element-fa32e8e .elementor-heading-title {
    color: #1B1B1BC2;
    font-family: "Poppins", Sans-serif;
    font-size: 24px;
    font-weight: 600;
}

.elementor-233 .elementor-element.elementor-element-2cfe406 .elementor-heading-title {
    color: #1B1B1BC2;
    font-family: "Poppins", Sans-serif;
    font-size: 24px;
    font-weight: 600;
}

.elementor-233 .elementor-element.elementor-element-1ee6639 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --background-transition: 0.3s;
}

.elementor-233 .elementor-element.elementor-element-becc0ac .elementor-heading-title {
    color: #1B1B1BC2;
    font-family: "Poppins", Sans-serif;
    font-size: 24px;
    font-weight: 600;
}

.elementor-233 .elementor-element.elementor-element-d573895 .elementor-heading-title {
    color: #1B1B1BC2;
    font-family: "Poppins", Sans-serif;
    font-size: 24px;
    font-weight: 600;
}

.elementor-233 .elementor-element.elementor-element-38118ea {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --background-transition: 0.3s;
}

.elementor-233 .elementor-element.elementor-element-4963ff4 .elementor-heading-title {
    color: #1B1B1BC2;
    font-family: "Poppins", Sans-serif;
    font-size: 24px;
    font-weight: 600;
}

.elementor-233 .elementor-element.elementor-element-c9e9517 .elementor-heading-title {
    color: #1B1B1BC2;
    font-family: "Poppins", Sans-serif;
    font-size: 24px;
    font-weight: 600;
}

.elementor-233 .elementor-element.elementor-element-694f41d .elementor-heading-title {
    color: #1B1B1BC2;
    font-family: "Poppins", Sans-serif;
    font-size: 24px;
    font-weight: 600;
}

.elementor-233 .elementor-element.elementor-element-65f3e58 .elementor-heading-title {
    color: #1B1B1BC2;
    font-family: "Poppins", Sans-serif;
    font-size: 24px;
    font-weight: 600;
}

.elementor-233 .elementor-element.elementor-element-e4c7d3d {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --background-transition: 0.3s;
}

.elementor-233 .elementor-element.elementor-element-bdbbe67 .elementor-heading-title {
    color: #5DBC45;
    font-family: "Poppins", Sans-serif;
    font-size: 34px;
    font-weight: 600;
}

@media(min-width:768px) {
    .elementor-233 .elementor-element.elementor-element-782a701 {
        --content-width: 1425px;
    }

    .elementor-233 .elementor-element.elementor-element-07797a2 {
        --content-width: 1482px;
    }

    .elementor-233 .elementor-element.elementor-element-e69d7d1 {
        --content-width: 1482px;
    }

    .elementor-233 .elementor-element.elementor-element-1ee6639 {
        --content-width: 1482px;
    }

    .elementor-233 .elementor-element.elementor-element-38118ea {
        --content-width: 1482px;
    }

    .elementor-233 .elementor-element.elementor-element-e4c7d3d {
        --content-width: 1482px;
    }
}
